.main_chat
  .main_chat__header
    .main_chat__header__box
      .main_chat__header__box__left
        .main_chat__header__box__left--message 
          = @group.name
        .main_chat__header__box__left--member 
          member : 
          - @group.users.each do |user|
            =user.name
      .main_chat__header__box--edit 
        =link_to edit_group_path(@group) do
          Edit
          
  .main_chat__message
    = render @messages

  .main_chat__footer
    =form_for [@group, @message],html:{class:"message"} do |f|
      .message__input
        = f.text_field :body, placeholder: "type a message", class: "message__input--text"
        = f.label :image, class: "message__input--image" do
          = icon('fas','image',class: "message__input--image--size")
          = f.file_field :image, class:"message__input--image--btn"
      = f.submit "Send", class: "message--btn"
