.side_bar
  .side_bar__top
    .side_bar__top__user 
      .side_bar__top__user--name 
        = current_user.name
      .side_bar__top__user--icons 
        = link_to new_group_path do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user.id) do
          = icon('fas', 'bahai')

  .side_bar__group
    - current_user.groups.each do |group|
      .side_bar__group__list
        = link_to group_messages_path(group) do
          .side_bar__group__list--name
            =group.name 
          .side_bar__group__list--message 
            = group.show_last_message